.tres::after {
  content: "";
  width: 100%;
  height: 300%;
  background-color: #07c407;
  position: absolute;
  top: -300%;
  left: 0;
  transition: all 0.4s ease-in-out;
  border-radius: 0px 0px 300px 300px
}

.tres:hover:after {
  top: 0;
}