.seis {
  background: none;
  color: #000;

}

rect {
  width: 100%;
  height: 100%;
  stroke: #000;
  stroke-width: 10px;

  /* descomentar para ver como funciona */
  /*stroke-dasharray: 5; /* genera unos espaciados en la linea */
  /*stroke-dashoffset: 50; /* mueve las lineas */
  
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000; 
  transition: all .7s ease-out;
}

.seis:hover rect{
  stroke-dashoffset: 0; 
}