:root { /* custom property */
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
  --clippy-hover: polygon(0 0, 83% 0, 100% 100%, 0 100%)
}

.dos::after {
  content: "";
  width: 120%;
  height: 100%;
  background-color: rgb(255, 103, 16);
  position: absolute;
  top: 0;
  left: 0;
  clip-path: var(--clippy);
  transition: clip-path 0.5s ease-in-out;
}

.dos:hover:after {
  clip-path: var(--clippy-hover);
}